# Lab：使用决策树探索泰坦尼克号乘客存活情况

## 开始
在引导项目中，你研究了泰坦尼克号存活数据并能够对乘客存活情况作出预测。在该项目中，你手动构建了一个决策树，该决策树在每个阶段都会选择一个与存活情况最相关的特征。幸运的是，这正是决策树的运行原理！在此实验室中，我们将通过在 sklearn 中实现决策树使这一流程速度显著加快。

我们首先将加载数据集并显示某些行。

In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Pretty display for notebooks
%matplotlib inline

# Set a random seed
import random
random.seed(42)

# Load the dataset
in_file = 'titanic_data.csv'
full_data = pd.read_csv(in_file)

# Print the first few entries of the RMS Titanic data
display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

下面是每位乘客具备的各种特征：
- **Survived**：存活结果（0 = 存活；1 = 未存活）
- **Pclass**：社会阶层（1 = 上层；2 = 中层；3 = 底层）
- **Name**：乘客姓名
- **Sex**：乘客性别
- **Age**：乘客年龄（某些条目为 `NaN`）
- **SibSp**：一起上船的兄弟姐妹和配偶人数
- **Parch**：一起上船的父母和子女人数
- **Ticket**：乘客的票号
- **Fare**：乘客支付的票价
- **Cabin**：乘客的客舱号（某些条目为 `NaN`）
- **Embarked**：乘客的登船港（C = 瑟堡；Q = 皇后镇；S = 南安普顿）

因为我们对每位乘客或船员的存活情况感兴趣，因此我们可以从此数据集中删除 **Survived** 特征，并将其存储在单独的变量 `outcome` 中。我们将使用这些结果作为预测目标。  
运行以下代码单元格，以从数据集中删除特征 **Survived** 并将其存储到 `outcome` 中。

In [5]:
# Store the 'Survived' feature in a new variable and remove it from the dataset
outcomes = full_data['Survived']
features_raw = full_data.drop('Survived', axis = 1)

# Show the new dataset with 'Survived' removed
display(features_raw.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

相同的泰坦尼克号样本数据现在显示 DataFrame 中删除了 **Survived** 特征。注意 `data`（乘客数据）和 `outcomes` （存活结果）现在是*成对的*。意味着对于任何乘客 `data.loc[i]`，都具有存活结果 `outcomes[i]`。

## 预处理数据

现在我们对数据进行预处理。首先，我们将对特征进行独热编码。

In [6]:
features = pd.get_dummies(features_raw)

In [7]:
features

,PassengerId,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,6,3,NaN,0,0,8.4583,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,7,1,54.0,0,0,51.8625,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,8,3,2.0,3,1,21.0750,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,9,3,27.0,0,2,11.1333,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,10,2,14.0,1,0,30.0708,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,11,3,4.0,1,1,16.7000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
11,12,1,58.0,0,0,26.5500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,13,3,20.0,0,0,8.0500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,14,3,39.0,1,5,31.2750,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,15,3,14.0,0,0,7.8542,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,16,2,55.0,0,0,16.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,17,3,2.0,4,1,29.1250,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,18,2,NaN,0,0,13.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,19,3,31.0,1,0,18.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,20,3,NaN,0,0,7.2250,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,21,2,35.0,0,0,26.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,22,2,34.0,0,0,13.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,23,3,15.0,0,0,8.0292,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,24,1,28.0,0,0,35.5000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,25,3,8.0,3,1,21.0750,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,26,3,38.0,1,5,31.3875,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26,27,3,NaN,0,0,7.2250,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,28,1,19.0,3,2,263.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,29,3,NaN,0,0,7.8792,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,30,3,NaN,0,0,7.8958,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,21.0,1,0,11.5000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
862,863,1,48.0,0,0,25.9292,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
863,864,3,NaN,8,2,69.5500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
864,865,2,24.0,0,0,13.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
865,866,2,42.0,0,0,13.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
866,867,2,27.0,1,0,13.8583,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
867,868,1,31.0,0,0,50.4958,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
868,869,3,NaN,0,0,9.5000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
869,870,3,4.0,1,1,11.1333,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
870,871,3,26.0,0,0,7.8958,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
871,872,1,47.0,1,1,52.5542,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
872,873,1,33.0,0,0,5.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
873,874,3,47.0,0,0,9.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
874,875,2,28.0,1,0,24.0000,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
875,876,3,15.0,0,0,7.2250,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
876,877,3,20.0,0,0,9.8458,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
877,878,3,19.0,0,0,7.8958,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
878,879,3,NaN,0,0,7.8958,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
879,880,1,56.0,0,1,83.1583,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
880,881,2,25.0,0,1,26.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
881,882,3,33.0,0,0,7.8958,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
882,883,3,22.0,0,0,10.5167,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
883,884,2,28.0,0,0,10.5000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
884,885,3,25.0,0,0,7.0500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
885,886,3,39.0,0,5,29.1250,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
886,887,2,27.0,0,0,13.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
887,888,1,19.0,0,0,30.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
888,889,3,NaN,1,2,23.4500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
889,890,1,26.0,0,0,30.0000,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
890,891,3,32.0,0,0,7.7500,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

现在用 0 填充任何空白处。

In [8]:
features = features.fillna(0.0)
display(features.head())

,PassengerId,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## (TODO) 训练模型

现在我们已经准备好在 sklearn 中训练模型了。首先，将数据拆分为训练集和测试集。然后用训练集训练模型。

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, outcomes, test_size=0.2, random_state=42)

In [11]:
# Import the classifier from sklearn
from sklearn.tree import DecisionTreeClassifier

# TODO: Define the classifier, and fit it to the data
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

## 测试模型
现在看看模型的效果。我们计算下训练集和测试集的准确率。

In [13]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

The training accuracy is 1.0
The test accuracy is 0.804469273743

# 练习：改善模型

结果是训练准确率很高，但是测试准确率较低。我们可能有点过拟合了。

现在该你来发挥作用了！训练新的模型，并尝试指定一些参数来改善测试准确率，例如：
- `max_depth`
- `min_samples_leaf`
- `min_samples_split`

你可以根据直觉、采用试错法，甚至可以使用网格搜索法！

**挑战：** 尝试在测试集中获得 85% 的准确率，如果需要提示，可以查看接下来的解决方案 notebook。

In [28]:
# TODO: Train the model
model = DecisionTreeClassifier(max_depth=6, min_samples_leaf=5, min_samples_split=2)
model.fit(X_train, y_train)
# TODO: Make predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)
# TODO: Calculate the accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

The training accuracy is 0.873595505618
The test accuracy is 0.854748603352

In [29]:
from sklearn.metrics import f1_score
from sklearn.metrics import make_scorer
from sklearn.model_selection import GridSearchCV

In [36]:
parameters = {'max_depth':list(range(1,11)),'min_samples_leaf':list(range(1,11)),'min_samples_split':list(range(2,11))}
scorer = make_scorer(accuracy_score)
clf = DecisionTreeClassifier(random_state=42)
grid_obj = GridSearchCV(clf, parameters, scoring=scorer)
grid_fit = grid_obj.fit(X_train, y_train)
# TODO: Get the estimator.
best_clf = grid_fit.best_estimator_

# Fit the new model.
best_clf.fit(X_train, y_train)

# Make predictions using the new model.
best_train_predictions = best_clf.predict(X_train)
best_test_predictions = best_clf.predict(X_test)

# Calculate the f1_score of the new model.
print('The training accuracy is', accuracy_score(best_train_predictions, y_train))
print('The test accuracy is', accuracy_score(best_test_predictions, y_test))

# Let's also explore what parameters ended up being used in the new model.
best_clf

The training accuracy is 0.875
The test accuracy is 0.860335195531

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=7,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=6, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')